* {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    transition: 5s;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 100vw;
    height: 200vh;
    color: #090707;
}
.top{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("img/dashboard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    align-items: center;
    flex-basis: 7%;
    gap: 3vw;
}
img{
    height: 15vmin;
    object-fit: contain;
}
.menu{
    display: flex;
    width: 20vw;
    gap : 2vw;
}
.menu a{
    color: #427A5B;
    font-size: 1.3rem;
    font-family: 'poppins';
}
.belly{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 93%;
}
.belly h3{
    font-size: 8vmin;
    width: 50%;
    text-align: center;
    font-family: 'cormorant upright';
    font-weight: 700;
    color: #ffffff;
}
.belly p{
    font-size: 3vmin;
    color: #ffffff;
    text-align: center;
    font-family: "croissant one";
}
.belly a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    color: #427A5B;
    font-size: 2vw;
    background-color: #ffffff;
    border-radius: 50%;
    width:8vh;
    height:8vh
}
.bottom{
    display: flex;
    justify-content: center;
    height:100vh;
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.text h1{
    font-size: 6vmin;
    text-transform: uppercase;
    font-family: "cormorant upright";
}
p{
    width: 60%;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'montserrat alternates';
}